.about {
  padding-bottom: 65px;

  & img {
    display: none;
  }

  @include tablet {
    & .container {
      display: flex;
    }

    & img {
      display: block;
    }
  }
  @include desktop {
    & .container {
      width: 1170px;
    }
  }
}

.about__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.button--white {
  background-color: #fff;
  color: $accent-color;
  border: 1px solid $accent-color;
  width: 180px;
  margin: 0;
}

.about__paragraph {
  font-family: "PT Mono", monospace;
  color: $text-color;
  font-size: 16px;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 40px;
  }
}
