.cards {
  padding-top: 37px;
  padding-bottom: 60px;

  @include desktop {
    padding-bottom: 110px;
  }
}

.cards__container {
  max-width: 1170px;
}

.cards__list {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
