.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1250px;

  @include mobile {
    min-width: 320px;
  }

  @include tablet {
    min-width: 750px;
  }

  @include desktop {
    max-width: 1170px;
  }
}

.form .container {
  @include tablet {
    min-width: 590px;
  }
}

.hero .container {
  @include tablet {
    min-width: 590px;
  }

  @include desktop {
    max-width: 1411px;
  }
}

.header .container {
  @include desktop {
    max-width: 1411px;
  }
}

.footer .container {
  @include desktop {
    max-width: 1411px;
  }
}
