.header {
  background-color: $background;
}

.email {
  display: none;
}

.phone {
  display: none;
}

@include desktop {
  .email {
    display: inline;
    font-family: "PT Mono", "Arial", monospace;
    color: white;
    margin-left: 20px;
    margin-right: 88px;
  }

  .phone {
    display: inline;
    font-family: "PT Mono", "Arial", monospace;
    color: white;
    margin-left: 20px;
    margin-right: 38px;
  }

  .nav__item a {
    display: flex;
    align-items: center;
  }

  .header__links {
    display: flex;
    align-items: center;
  }
}

.header__button {
  display: none;

  @include desktop {
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    border-radius: 5px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}
