$text-color: #666666;
$border-color: rgba(98, 105, 98, 0.2);
$accent-color: #00b2ff;
$logo-color: #203c42;
$background: #1b2d37;
$text-opacity: rgba(27, 45, 55, 0.5);
$white-opacity: rgba(255, 255, 255, 0.8);
$line-color: #c4c4c4;
