.about__section {
  padding-bottom: 65px;
  & img {
    display: none;
  }
  @media screen and (min-width: 770px) {
    display: flex;
    & img {
      display: block;
    }
  }
  @media screen and (min-width: 1400px) {
    width: 1170px;
  }
}

.about__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.button--white {
  background-color: #fff;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  width: 180px;
  margin: 0;
}

.about__section .card__paragraph {
  margin-bottom: 50px;
}
.about__section .card__paragraph:last-child {
  margin-bottom: 40px;
}
