.header {
  background-color: #1b2d37;
}
.logo__titles {
  display: none;
  @media screen and (min-width: 770px) {
    display: block;
    color: white;
    margin-left: 16px;
  }
}
.email {
  display: none;
}

.phone {
  display: none;
}
@media screen and (min-width: 1400px) {
  .email {
    display: inline;
    font-family: "PT Mono", monospace;
    color: white;
    margin-left: 20px;
    margin-right: 88px;
  }
  .phone {
    display: inline;
    font-family: "PT Mono", monospace;
    color: white;
    margin-left: 20px;
    margin-right: 38px;
  }
  .nav__item a {
    display: flex;
    align-items: center;
  }
  .header__links {
    display: flex;
    align-items: center;
  }
}

.header__button {
  display: none;
  @media screen and (min-width: 1400px) {
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    border-radius: 5px;
  }
}
.logo {
  display: flex;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.nav__item {
  margin-right: 24px;
}
.nav__item:last-child {
  margin-right: 0;
}
